@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Roboto&family=Satisfy&display=swap");
/* font-family: 'Handlee', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Satisfy', cursive; */
:root {
  --primaryColor: #3c91e6;
  --hoverColor: #2b303a;
  --buttonColor: #94bd46;
  --whiteShedColor: #fafffd;
  --orangeColor: #fa824c;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bordered {
  border: 1px solid red;
}
a {
  text-decoration: none;
  color: var(--whiteShedColor);
}
/* ============================================
================Footer CSS================== */
.page-footer {
  background: var(--hoverColor);
  padding: 10px;
  color: var(--whiteShedColor);
}
.page-footer a {
  color: var(--buttonColor);
  text-decoration: none;
}
.page-footer a:hover {
  color: var(--whiteShedColor);
}
.footer-links {
  color: var(--whiteShedColor) !important;
  transition: 0.3s ease-in-out;
}
.footer-links :hover {
  color: var(--buttonColor) !important;
}
.div-heading {
  padding: 0px 10px 10px 10px;
  float: left;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 8px;
  border-bottom: solid 2px var(--buttonColor);
  font-family: "Roboto", sans-serif;
  /* font-family: "Satisfy", cursive; */
}
.div-sub-heading {
  padding: 3px 3px;
  float: left!important;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  /* font-family: "Satisfy", cursive; */
}
.w-10{
  max-width: 30%!important;
}
.text-primary{
  color: var(--buttonColor)!important;
}
.fontaweome-icons {
  font-size: 20px;
  padding: 10px 14px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* ============================================
================Spinner CSS================== */
.spinner-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: #b3e8b515;
}
.spinner-container img {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 38%;
}
/* ============================================
================NAVBAR CSS================== */
.list-group-item{
  transition: .2s ease-in;
}
.list-group-item:hover{
  background-color: var(--buttonColor);
  color: white;
}
/* ============================================
================NAVBAR CSS================== */
.logo {
  width: 70px;
  height: 70px;
}
.logo-text {
  /* position: absolute; */
  /* top: 18px; */
  /* left: 100px; */
  font-weight: 600;
  color: var(--buttonColor);
  font-size: 30px !important;
  transition: 0.3s all;
  font-family: "Roboto", sans-serif;
  /* font-family: "Satisfy", cursive; */
}
.logo-text:hover {
  color: var(--hoverColor);
}
.logo:hover .logo-text {
  color: var(--hoverColor);
}
.navbar-toggler {
  border: none !important;
  font-size: 1.5rem !important;
}
.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none !important;
  outline: none !important;
}
.navbar {
  /* background: var(--whiteShedColor);
  height: 80px;
  margin: 20px;
  border-radius: 20px; */
  padding: 0.5rem;
  font-family: "Handlee", cursive;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Satisfy", cursive; */
  box-shadow: 1px 0.5px 10px #2b303a;
}
.dropdown-menu {
  position: absolute;
  left: -20px !important;
}
.nav-link {
  color: var(--hoverColor);
  font-weight: 500;
  position: relative;
  letter-spacing: 1px;
}
.dropdown-menu li {
  letter-spacing: 2px;
  transition: 0.3s;
}
.dropdown-menu li :hover {
  color: var(--hoverColor) !important;
  font-weight: 600 !important;
  letter-spacing: 2px;
}
.btn-primary {
  background-color: var(--buttonColor) !important;
  border: 1px solid var(--buttonColor) !important;
}
.btn-primary:hover {
  background-color: #7b9f38 !important;
  border: 1px solid var(--buttonColor) !important;
}
.nav-link:hover,
.nav-link.active {
  color: #2b303a;
  font-weight: 600;
}
@media (max-width: 1118px) {
  .nav-item i {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .nav-item i {
    display: inline-block !important;
  }
}
@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--buttonColor);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
